h1{
  text-align: center;
}
h3{
  text-align: center;
}
#journey{
  margin-left: 10px;
}
.picture{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
