<h1> Index </h1>

<% @pigeons.each do |pigeon| %>
<h2><%=link_to pigeon.name, pigeon_path(pigeon) %></h2>

<p> Breed : <%= pigeon.breed %></p>
<p> Speed : <%= pigeon.km_per_hour %></p>
<p> Price : <%= pigeon.price_per_km %></p>
<% end %>
