.background-index{
  height: 100vh;
  background-image: asset-url("background.png");
  background-size: cover;
  top: 0;
}
.background-tyson{
  height: 100vh;
  background-image: asset-url("tyson.jpg");
  background-size: cover;
  top: 0;
  border-radius: 10px;
}
