

.footer{
  background: white;
  color: black;

  .links{
    ul {list-style-type: none;}
    li a{
      color: black;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:black;
        }
    }

.red{
color: #D40310;
}

.logoap{
  display: flex;
}

  }
  .about-company{
    i{font-size: 25px;}
    a{
      color:#D40310;
      transition: color .2s;
      &:hover{color:black}
    }
  }
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}






